@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zain", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--bs-white);
  font-size: 1.5rem;
}

ul,
li {
  list-style-type: none;
}

::selection {
  color: rgb(220, 218, 218);
  background-color: #000;
}

button,
input {
  border: none;
  outline: none;
}

.hover:hover {
  font-weight: bold;
  transition: 0.5s;
  color: var(--bs-blue);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 8px;
}