.active {
    background-color:darkgray;
    //  color: red;
    border-radius: 7px;
  }
  li a {
    padding-inline: 1rem !important;
  }
  .nav-link{
    color: red;
  }
  .nav-item{
    list-style: none;
  }
