body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-family: 'Bebas Neue', sans-serif;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
  }
  a{
    text-decoration: none;
  }
  